body{
margin:0;
background:#050505;
font-family:monospace;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
}

.scene{
text-align:center;
}

.name{
color:#00ffd5;
font-size:42px;
margin-bottom:5px;
}

.role{
color:#aaa;
margin-bottom:40px;
}

.door-frame{

width:320px;
height:420px;
position:relative;
display:flex;
perspective:1000px;
margin:auto;

border:4px solid #00ffd5;
box-shadow:0 0 30px #00ffd5;
}

.door{

width:50%;
height:100%;
background:#111;

border-right:1px solid #00ffd5;

transition:transform 2s ease;

}

.right-door{
border-right:none;
border-left:1px solid #00ffd5;
}

/* Door open animation */

.open .left-door{

transform:rotateY(-120deg);

}

.open .right-door{

transform:rotateY(120deg);

}

#enterBtn{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

padding:12px 30px;

background:#00ffd5;

border:none;

font-weight:bold;

cursor:pointer;

letter-spacing:2px;

}

.about{

margin-top:40px;

width:600px;

opacity:0;

transition:2s;

line-height:1.6;

color:#ccc;

}

.about.show{

opacity:1;

}
