body{
margin:0;
overflow:hidden;
font-family:monospace;
background:black;
color:#00ffcc;
}

#overlay{
position:absolute;
top:40%;
width:100%;
text-align:center;
z-index:10;
}

h1{
text-shadow:0 0 15px #00ffcc;
}

.buttons{
margin-top:20px;
}

button{
padding:12px 25px;
margin:10px;
background:black;
border:1px solid #00ffcc;
color:#00ffcc;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#00ffcc;
color:black;
}
